    <div class="jumbotron">
      <div class="container">
        <div class="row">
            <div class="item  col-xs-8 col-lg-8">
            <h1>{{ mainApp.name }}</h1>
            <p>{{ mainApp.summary }}</p>
            <p><a class="btn btn-primary btn-lg" href="/app/{{ mainApp.id }}" role="button">More...</a></p>
            </div>
            {% if mainApp.screenshot %}
            <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
            <img src="{{ mainApp.screenshot }}" class="img-rounded">
            </div>
            </div>
            {% endif %}
        </div>
      </div>
    </div>

<style>
.elide { white-space: nowrap; overflow:hidden; text-overflow:ellipsis; }
</style>

 <div class="row">
    {% for app in apps %}
        <div class="item  col-xs-3 col-lg-3">
            <div class="thumbnail">
                <img class="group list-group-image" src="{{ app.icon }}" alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading elide"><a href="/app/{{ app.id }}">{{ app.name }}</a></h4>
                    <p class="group inner list-group-item-text elide">{{ app.summary }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
